body {
    
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#login-box {
    width: 20%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #eccb129c;
    padding: 20px 50px;
    border-radius: 15px;
    border-color: white;
    border: 10px;
    box-shadow: 8px 10px rgb(0, 0, 0,0.5);

}

#login-box h1 {
    color: white;

}

#login-box .form .item {
    margin-top: 15px;
}

#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid white;
    padding: 5px 10px;
    background: #ffffff00;
    color: #ffffff;
}

#login-box .form .item input[placeholder] {
    color: white;
}

#login-box .form .item i {
    font-size: 18px;
    color: white;
}

#login-box button {
    border: 0;
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-radius: 15px;
}

#message-box {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}